body {
  background-color: #111111;
}

body::-webkit-scrollbar {
  display: none;
}

.threeCanvas{
  position: absolute;
  width: 10%;
}

.App {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  height: 100vh;
  background-color: #111111;
}

.mainContainer {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  background:linear-gradient(#0C1E7F,#16003B);
  width: 100%;
  height: 100%;

}


.toolbar {
  height: 100vh;
  width: 7vw;
  display: flex;
  flex-direction: row;
  background-color: #E15FED;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 0 #444444;
  padding: 0px;
  height: 45%;
  overflow: hidden;
}

.inputField {
  background-color: #444444;
  border-radius: 30px;
  width: 300px;
  height: 35px;
  color: white;
  font-size: 25px;
  text-align: center;
  border: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  height: 170px;
  width: 170px;
  background-color: #666666;
  margin: 9px;
  border-radius: 20px;
}

.titleBox {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  color: #ff002f;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 2vh;
}

.topHeader {
  background-color: #ff008f;
  max-height: 20vh;
}

.App-header {
  position: static;
  height: 10vh;
  display: flex;
  flex-direction: column;
  background-color: #ff002f;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #111119;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
